body {margin:0;font-family: 'Gabarito', cursive;}

.dvTitulo{
    padding: 30px;
    background-color: aquamarine;
}

.dvConteudo{
    background-color: rgb(112, 112, 108);
}

.dvRodape{
    padding: 10px;
    background-color: aquamarine;
}